<div class="container bg-custom p-0 mb-5 ">
  <div class="card card-custom ">
    <div class="card-header">
      <span class="post-title">
        <h6 class="mb-0 p-2 "><a class="link_style text-decoration-none fw-bold" href="{{POST.slug}}">{{POST.title}}</a></h6>
      </span>


    </div>
    <div class="card-body pt-1">
      <div class="row mb-4 card-hashtags text-muted">
        <div class="col-12">
          <span class="post-date small mx-2"><i class="fa fa-calendar-check-o"
              aria-hidden="true"></i>{{POST.create_at}} </span>
          {% for item_cat in POST.category %}
              <span class=""><a href="" class="link_style text-decoration-none">#{{item_cat}}</a></span>
          {% endfor %}
        </div>
      </div>
      <div class="row post-content d-flex flex-column flex-lg-row mt-2">
        <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center"><img class="img-fluid"
            src="{{POST.info.cover}}" alt="{{POST.title}}"></div>
        <div class="col-12 col-lg-9">
          <div class="row">
            <div class="col-12">
              <span class="fw-bold">Pilot:</span>
              <p class="d-inline">Followed by millions worldwide. His strong will and triumphant fight to win
                against all odds put Michael Schumacher at the centre of global attention.
                <span id="dots">...</span>
                <span id="more">{{POST.info.pilot}}</span>
              </p><a class="" onclick="myFunction()" id="myBtn">Read more</a>
            </div>
          </div>
          <div class="row mt-2 ">
            <div class="col-3 d-flex  align-items-center"><span class="text-warning"><i class="fa fa-imdb fa-2x mx-2" aria-hidden="true"></i></span><span>{{POST.info.imdb}}/10</span></div>
            <div class="col-3 d-flex  align-items-center">
              <span class="text-danger"><i class="fa fa-youtube-play fa-2x mx-2" aria-hidden="true"></i></span>
              <span><a class="link_style" href="{{POST.info.trailer}}">Trailer</a></span>
            </div>
            <div class="col-3"><span></span><span></span></div>
            <div class="col-3"><span></span><span></span></div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="fw-bold">Gener: </span>
              <span>
                {% for gener_item in POST.info.gener %}
                <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
                {% endfor %}
              </span>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <span class="fw-bold">Director: </span>
              {% for gener_item in POST.info.director %}
              <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
              {% endfor %}
            </div>
          </div>
          <div class="row mt-2 ">
            <div class="col-12">
              <span class="fw-bold">Stars: </span>
              {% for gener_item in POST.info.stars %}
              <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-4 px-1 d-flex justify-content-end align-items-center  "><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
        <div class="col-4 px-0"><hr></div>
        <div class="col-4 px-1 d-flex justify-content-start align-items-center "><i class="fa fa-cloud-download" aria-hidden="true"></i></div>
      </div>
      <div class="row download-section ">
        <div class="col-12">
          {% for release in POST.releases %}
          <div class="row row-single-rls mt-2">
            <div class="release-name">
              <span class="pastel-color">Release Name: </span><span>{{release.release_name}}</span>
            </div>
            <div class="info">
              <div><span>Size: </span> <span>{{release.size}}</span></div>
              <div><span>Video: </span><span>{{release.video}}</span></div>
              <div><span>Audio: </span><span>{{release.audio}}</span></div>
              <div><span>Runtime: </span><span>{{release.run_time}}</span></div>
            </div>
            <div class="download-links">
              <span>Links:</span>
              <span><a href="{{release.links.uploadgig}}">FREE</a></span> – <span><a href="{{release.links.nitro}}">NiTROFLARE</a></span> – <span><a
                  href="{{release.links.rapidgator}}">RAPiDGATOR</a></span>
            </div>
          </div>
          <hr>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-6">Comments:30</div>
      <div class="col-6 d-flex justify-content-end"><a class="link_style text-decoration-none" href="{{POST.slug}}">View Post ></a></div>
    </div>
  </div>
</div>