{% extends 'base/main.html' %}
{% load static %}

{% block title %}
Home | Ayroot
{% endblock %}


{% block body %}
<!-- CATEGORY AND SLIDER -->
<div class="container bg-custom shadow-sm mt-4">
  <div class="row">
    <div class="col-12 d-flex justify-content-around">
      <div>
        <ul class="nav nav-tabs mx-2" id="myTab2" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="movies-tab" data-bs-toggle="tab" data-bs-target="#movies" type="button"
              role="tab" aria-controls="monday" aria-selected="true">Movies</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="sunday-tab" data-bs-toggle="tab" data-bs-target="#tv" type="button" role="tab"
              aria-controls="tv" aria-selected="true">TV Shows</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="music-tab" data-bs-toggle="tab" data-bs-target="#music" type="button"
              role="tab" aria-controls="music" aria-selected="true">Music</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="mag-tab" data-bs-toggle="tab" data-bs-target="#tv" type="button" role="tab"
              aria-controls="mag" aria-selected="true">Magazines</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="game-tab" data-bs-toggle="tab" data-bs-target="#game" type="button" role="tab"
              aria-controls="game" aria-selected="true">Games</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link " id="sunday-tab" data-bs-toggle="tab" data-bs-target="#tv" type="button" role="tab"
              aria-controls="tv" aria-selected="true">Applications</button>
          </li>
        </ul>
        <div class="tab-content p-2" id="myTabContent2">
          <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="movie-tab">
            <img class="img-fluid" src="{%static 'covers/Cover1.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover2.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover3.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover4.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover6.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover7.png'%}" alt="">

          </div>
          <div class="tab-pane fade" id="tv" role="tabpanel" aria-labelledby="tuesday-tab">
            <img class="img-fluid" src="{%static 'covers/Cover8.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover9.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover4.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover1.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover11.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover7.png'%}" alt="">
          </div>
          <div class="tab-pane fade" id="music" role="tabpanel" aria-labelledby="wednesday-tab">
            <img class="img-fluid" src="{%static 'covers/Cover10.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover12.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover3.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover8.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover2.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover7.png'%}" alt="">
          </div>
          <div class="tab-pane fade" id="mag" role="tabpanel" aria-labelledby="thursday-tab">
            <img class="img-fluid" src="{%static 'covers/Cover2.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover8.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover12.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover1.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover3.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover6.png'%}" alt="">
          </div>
          <div class="tab-pane fade" id="game" role="tabpanel" aria-labelledby="thursday-tab">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover9.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover12.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover11.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover3.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover7.png'%}" alt="">
          </div>
          <div class="tab-pane fade" id="app" role="tabpanel" aria-labelledby="friday-tab">
            <img class="img-fluid" src="{%static 'covers/Cover12.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover2.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover3.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover4.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover5.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover2.png'%}" alt="">
            <img class="img-fluid" src="{%static 'covers/Cover10.png'%}" alt="">
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- LIVE RELEASE -->
<div class="container bg-custom shadow-sm py-2 px-3 mt-4">
  <div class="row">
    <div class="col-12">
      <p class="h3"><a class="text-decoration-none" href="#">Live releases</a></p>


      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">TvShow</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style"
            href="">Jimmy.Fallon.2021.09.13.Andrew.Garfield.1080p.WEB.H264-GLHF</a>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">TvShow</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style"
            href="">Selling.Irelands.Most.Exclusive.Homes.S01E02.1080p.RTE.WEB-DL.x264-RTN</a></div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">TvShow</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style"
            href="">Almost.Never.S03.720p.IP.WEB-DL.AAC2.0.H.264-DarkSaber</a>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">Movie</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style" href="">The.Witnesses.S01.720p.WEB.H264-NGP</a>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">Application</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style" href="">Monster Couch, Stonemaier Games,
            indienova</a>
        </div>
      </div>

      <div class="row">
        <div class="col-3 col-lg-1 p-0 text-center"><span class="badge badge-danger">Game</span></div>
        <div class="col-9 col-lg-11 text-break p-0"><a class="rls-style" href="">Dreadlands.v2.28-CODEX</a></div>
      </div>
    </div>
  </div>

</div>
<!-- end -->

<!-- SINGLE POST -->
{% for POST in posts %}
<div class="container px-0 shadow-sm mt-4">
  <div class="row d-flex flex-column-reverse flex-lg-row">
    <!-- single post -->
    <div class="col-12 col-lg-7">
      <!-- post area -->
      <div class="container bg-custom p-0">
        <div class="card card-custom mb-3">
          <div class="card-header">
            <span class="post-title">
              <h6 class="mb-0 p-2 "><a class="link_style text-decoration-none" href="{{POST.slug}}">{{POST.title}}</a></h6>
            </span>


          </div>
          <div class="card-body pt-1">
            <div class="row mb-4 card-hashtags text-muted">
              <div class="col-12">
                <span class="post-date small mx-2"><i class="fa fa-calendar-check-o"
                    aria-hidden="true"></i>{{POST.create_at}} </span>
                {% for item_cat in POST.category.all %}
                <a href="" class="link_style text-decoration-none">
                  <span class="">#{{item_cat}}</span>
                </a>
                {% endfor %}
              </div>
            </div>
            <div class="row post-content d-flex flex-column flex-lg-row mt-2">
              <div class="col-12 col-lg-3 d-flex justify-content-center align-items-center"><img class="img-fluid"
                  src="{{MY_POST.info.cover}}" alt=""></div>
              <div class="col-12 col-lg-9">
                <div class="row">
                  <div class="col-12">
                    <span class="fw-bold">Pilot:</span>
                    <p class="d-inline">Followed by millions worldwide. His strong will and triumphant fight to win
                      against all odds put Michael Schumacher at the centre of global attention.
                      <span id="dots">...</span>
                      <span id="more">{{MY_POST.info.pilot}}</span>
                    </p><a class="" onclick="myFunction()" id="myBtn">Read more</a>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-3"><span class="text-warning">iMDB: </span><span>{{MY_POST.info.imdb}}/10</span></div>
                  <div class="col-3">
                    <span class="text-danger">Trailer: </span>
                    <span><a class="link_style" href="{{MY_POST.info.trailer}}">YouTube</a></span>
                  </div>
                  <div class="col-3"><span></span><span></span></div>
                  <div class="col-3"><span></span><span></span></div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <span class="fw-bold">Gener: </span>
                    <span>
                      {% for gener_item in MY_POST.info.gener %}
                      <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
                      {% endfor %}
                    </span>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-12">
                    <span class="fw-bold">Director: </span>
                    {% for gener_item in MY_POST.info.director %}
                    <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
                    {% endfor %}
                  </div>
                </div>
                <div class="row mt-2 ">
                  <div class="col-12">
                    <span class="fw-bold">Stars: </span>
                    {% for gener_item in MY_POST.info.stars %}
                    <a class="link_style text-decoration-none" href="#">{{gener_item}}</a>,
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row download-section mt-4">
              <div class="col-12">
                {% for release in MY_POST.releases %}
                <div class="row row-single-rls mt-2">
                  <div class="release-name">
                    <span>Release Name: </span><span>{{release.release_name}}</span>
                  </div>
                  <div class="info">
                    <div><span>Size: </span> <span>{{release.size}}</span></div>
                    <div><span>Video: </span><span>{{release.video}}</span></div>
                    <div><span>Audio: </span><span>{{release.audio}}</span></div>
                    <div><span>Runtime: </span><span>{{release.run_time}}</span></div>
                  </div>
                  <div class="download-links">
                    <span>Links:</span>
                    <span><a href="{{release.links.uploadgig}}">FREE</a></span> – <span><a href="{{release.links.nitro}}">NiTROFLARE</a></span> – <span><a
                        href="{{release.links.rapidgator}}">RAPiDGATOR</a></span>
                  </div>
                </div>
                <hr>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">Comments:30</div>
            <div class="col-6 d-flex justify-content-end"><a class="link_style text-decoration-none" href="{{POST.slug}}">View Post ></a></div>
          </div>
        </div>
      </div>
    </div>{% endfor %}
    

    <!-- TV TABLE SIDEBAR -->
    <div class="col-12 col-lg-5 mb-5">
      <div class="container bg-custom p-0 d-flex justify-content-center">
        <div class="none">
          <ul class="nav nav-tabs mx-2" id="myTab2" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="monday-tab" data-bs-toggle="tab" data-bs-target="#monday"
                type="button" role="tab" aria-controls="monday" aria-selected="true">Mon</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="tuesday-tab" data-bs-toggle="tab" data-bs-target="#tuesday" type="button"
                role="tab" aria-controls="tuesday" aria-selected="true">Tue</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="wednesday-tab" data-bs-toggle="tab" data-bs-target="#wednesday"
                type="button" role="tab" aria-controls="wednesday" aria-selected="true">Wed</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="thursday-tab" data-bs-toggle="tab" data-bs-target="#thursday" type="button"
                role="tab" aria-controls="thursday" aria-selected="true">Thu</button>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="friday-tab" data-bs-toggle="tab" data-bs-target="#friday" type="button"
                role="tab" aria-controls="friday" aria-selected="true">Fri</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="saturday-tab" data-bs-toggle="tab" data-bs-target="#saturday" type="button"
                role="tab" aria-controls="saturday" aria-selected="true">Sat</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link " id="sunday-tab" data-bs-toggle="tab" data-bs-target="#sunday" type="button"
                role="tab" aria-controls="sunday" aria-selected="true">Sun</button>
            </li>
          </ul>
          <div class="tab-content p-2" id="myTabContent2">
            <div class="tab-pane fade show active" id="monday" role="tabpanel" aria-labelledby="monday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner2.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner3.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner4.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner5.png'%}"
                  alt=""></a>

            </div>
            <div class="tab-pane fade" id="tuesday" role="tabpanel" aria-labelledby="tuesday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner3.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner5.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner4.png'%}"
                  alt=""></a>
            </div>
            <div class="tab-pane fade" id="wednesday" role="tabpanel" aria-labelledby="wednesday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner2.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner4.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner5.png'%}"
                  alt=""></a>
            </div>
            <div class="tab-pane fade" id="thursday" role="tabpanel" aria-labelledby="thursday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner4.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner6.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner8.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner2.png'%}"
                  alt=""></a>
            </div>
            <div class="tab-pane fade" id="friday" role="tabpanel" aria-labelledby="friday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner5.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner3.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner7.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner.png'%}"
                  alt=""></a>
            </div>
            <div class="tab-pane fade" id="saturday" role="tabpanel" aria-labelledby="saturday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner2.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner4.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner5.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner3.png'%}"
                  alt=""></a>
            </div>
            <div class="tab-pane fade" id="sunday" role="tabpanel" aria-labelledby="sunday-tab">
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner7.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner2.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner6.png'%}"
                  alt=""></a>
              <a href="#" class="d-flex flex-column m-2"><img class="img-fluid " src="{%static 'covers/banner8.png'%}"
                  alt=""></a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end -->
{% endblock %}

{% block javascript %}
<!-- PILOT REDMORE BUTTON -->
<script type="text/javascript">
  function myFunction() {
    var dots = document.getElementById("dots");
    var moreText = document.getElementById("more");
    var btnText = document.getElementById("myBtn");

    if (dots.style.display === "none") {
      dots.style.display = "inline";
      btnText.innerHTML = "Read more";
      moreText.style.display = "none";
    } else {
      dots.style.display = "none";
      btnText.innerHTML = "Read less";
      moreText.style.display = "inline";
    }
  }</script>
<!-- end -->

<!-- SLICK SLIDER -->

<script src="/static/slick/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  $(document).on('ready', function () {
    $(".regular").slick({
      dots: false,
      infinite: true,
      slidesToShow: 6,
      slidesToScroll: 6,

    });
    $(".lazy").slick({
      lazyLoad: 'ondemand', // ondemand progressive anticipated
      infinite: true
    });
  });
</script>
<!-- end -->
{% endblock %}